
<div id="app">
</div>

<script>
  ReviewMi.currentUser = '<%= current_username %>'
</script>

<!-- underscore.js templates -->

<!-- APP VIEW -->
<script id="appView" type="text/x-underscore-template">
  <h1>ReviewMi</h1>

  <div id="user">
  </div>

  <p>Navigation</p>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#search/movies">Search Movies</a></li>
  </ul>

  <div id="main">
  </div>
</script>

<script id="loggedOutView" type="text/x-underscore-template">
  <p>Login here:</p>
  <form>
    <label>Username:</label>
    <input type="text" id="username">
    <label>Password:</label>
    <input type="password" id="password">
    <button id="login">Login</button>
  </form>
</script>

<script id="loggedInView" type="text/x-underscore-template">
  logged in as: {{ ReviewMi.currentUser }} <button id="logout">Logout</button>
</script>

<!-- HOME VIEW -->

<script id="homeView" type="text/x-underscore-template">
  <h2>Hello World!</h2>

  <h3>Latest Reviews</h3>

  <ul id="reviews">
  </ul>
</script>

<script id="reviewView" type="text/x-underscore-template">
  <p>{{ media_type }} - {{ title }}<p>
  <img src="{{ image }}" class="img-thumb">
  <p>Rating: {{ rating }}</p>
  <p>Review: {{ description }}</p>
  <p>Reviewed by: xxxx </p>
  <p>Date: {{ created_at }} </p>
</script>

<!-- MOVIE SEARCH VIEW -->

<script id="movieSearchView" type="text/x-underscore-template">
  <h2>Search for a movie to review</h2>
  <form id="search-frm">
    <label>Movie Title Search:</label>
    <input id="search-text" type="text">
    <button id="search-btn">Search!</button>
  </form>

  <!-- to display the results (a list of movies) or result (a single title) -->
  <div id="result">
  </div>
</script>

<script id="movieResultView" type="text/x-underscore-template">
  <p>{{ title }} - {{ year }} - type: {{ type }}</p>
</script>

<!-- MOVIE TITLE VIEW -->

<script id="movieTitleView" type="text/x-underscore-template">
  <img class="poster" src="{{ poster }}">
  <div class="info">
    <h2>{{ title }}</h2>
    <p>Year: {{ year }}</p>
    <p>Genre: {{ genre }}</p>
    <p>Director: {{ director }}</p>
    <p>Writer: {{ writer }}</p>
    <p>Plot: {{ plot }}</p>
  </div>

  <button>Create Review!</button>
</script>

<!-- NEW REVIEW VIEW -->

<script id="newReviewView" type="text/x-underscore-template">
  <h2>{{ title }}</h2>
  <img class="image" src="{{ image }}">
  <p>Write your review here...</p>
  <div>
    <div id="stars"></div>
    <form>
      <textarea id="review" cols="120" rows="10"></textarea><br>
      <button id="submit">Submit Review</button>
    </form>
  </div>
</script>


