
<div id="app">
</div>

<script>
  ReviewMi.currentUser = '<%= current_username %>'
</script>

<!-- ======================= -->
<!-- UNDERSCORE.JS TEMPLATES -->
<!-- ======================= -->

<!-- APP VIEW -->

<script id="appView" type="text/x-underscore-template">
  <div id="container">
    <div id="banner">

      <a href="#" id="heading">ReviewMi</a>

      <!-- to output login form OR user details and logout button -->
      <div id="user">
      </div>
    </div>

    <ul id="navbar">
      <li><a href="#">Home</a></li>
      <li><a href="#search/movies" class="logged-in-only">Search Movies</a></li>
    </ul>

    <div id="main">
    </div>

    <div id="footer">
      <p>Site Designed by Simon Taylor - 2014</p>
    </div>
  </div><!-- #container -->
</script>

<script id="loggedOutView" type="text/x-underscore-template">
  <form id="login">
    <label>Login here:</label>
    <input type="text" id="username" placeholder="username" required>
    <input type="password" id="password" placeholder="password" required>
    <button>Login</button>
  </form>
  <a href="#users/signup" class="register">Register</a>
</script>

<script id="loggedInView" type="text/x-underscore-template">
  <p>logged in as: {{ ReviewMi.currentUser }} <button id="logout">Logout</button></p>
</script>

<!-- HOME VIEW -->

<script id="homeView" type="text/x-underscore-template">
  <h3 id="page-heading">Latest Reviews...</h3>

  <ul id="reviews">
  </ul>
</script>

<script id="reviewView" type="text/x-underscore-template">
  <div class="review">
    <h3 class="title">{{ media_type }} - {{ title }}</h3>
    <img src="{{ image }}" class="img-thumb"
    ><div class="details">
      <p><b>Rating:</b> {{ rating }}</p>
      <p><b>Preview:</b> {{ description }}</p>
      <p><b>Reviewed by:</b> {{ username }} </p>
      <p><b>Date:</b> {{ created_at }} </p>
      <a href="#review/new/{{ content_id }}" class="review-this logged-in-only">Review this!</a>
    </div>
  </div>
</script>

<!-- MOVIE SEARCH VIEW -->

<script id="search-movies" type="text/x-underscore-template">
  <h3 id="page-heading">Search Movies (to Review)</h3>
  <form id="movie-search">
    <label>Movie Title:</label>
    <input id="search-text" type="text" required>
    <button>Search!</button>
  </form>

  <!-- to display the results (a list of movies) or result (a single title) -->
  <div id="result">
  </div>
</script>

<!-- MOVIE SEARCH TERM VIEW -->

<script id="movieResultView" type="text/x-underscore-template">
  <p>{{ title }} - {{ year }} - type: {{ type }}</p>
</script>

<!-- MOVIE TITLE VIEW -->

<script id="movieTitleView" type="text/x-underscore-template">
  
  <div class="movie-title">
    <div class="page-heading">View a Movie</div>
    <h2>{{ title }}</h2>
    <img src="{{ image }}"
    ><div class="details">
      <p><b>Year:</b> {{ year }}</p>
      <p><b>Genre:</b> {{ genre }}</p>
      <p><b>Director:</b> {{ director }}</p>
      <p><b>Writer:</b> {{ writer }}</p>
      <p><b>Plot:</b> {{ plot }}</p>
      <button>Create Review!</button>
    </div>
  </div>
</script>

<!-- NEW REVIEW VIEW -->

<script id="newReviewView" type="text/x-underscore-template">
  <div id="new-review">
    <h2>{{ title }}</h2>
    <img class="image" src="{{ image }}"
    ><div class="content">
      <p>Write your review here...</p>
      <div id="stars"></div><br>
      <form id="newReview">
        <textarea id="review" cols="120" rows="10"></textarea><br>
        <button id="submit">Submit Review</button>
      </form>
    </div>
  </div>
</script>

<!-- SHOW REVIEW VIEW -->

<script id="showReviewView" type="text/x-underscore-template">
  <div id="show-review">
    <h1>View Review</h1>
    <h2 class="title">{{ title }}</h2>
    <img class="image" src="{{ image }}"
    ><div id="content">
      <p><b>Rating:</b> <span id="stars"></span></p>
      <p><b>Review:</b> {{ description }}</p>
      <p><b>Reviewed by:</b> {{ username }} </p>
      <p><b>Date:</b> {{ created_at }} </p>
      <a href="#" class="back">&#60; Back</a>
    </div>
  </div>
</script>

<!-- NEW USER VIEW -->

<script id="newUserView" type="text/x-underscore-template">
  <div id="register">
    <h2 id="page-heading">Register Here</h2>

    <ul id="errors"></ul>

    <form>
      <label>Email:</label>
      <input type="email" id="reg-email" required>
      <label>Username:</label>
      <input type="text" id="reg-username" required>
      <label>Password:</label>
      <input type="password" id="reg-password" required>
      <label>Password Confirmation:</label>
      <input type="password" id="reg-password-conf" required>
      <button id="create-account">Create Account</button>
    </form>
  </div>
</script>