
<div id="app">
</div>

<script>
  ReviewMi.currentUser = '<%= current_username %>'
</script>

<!-- ======================= -->
<!-- UNDERSCORE.JS TEMPLATES -->
<!-- ======================= -->

<!-- APP VIEW -->

<script id="appView" type="text/x-underscore-template">
  <h1>ReviewMi</h1>

  <div id="user">
  </div>

  <p>Navigation</p>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#search/movies">Search Movies</a></li>
  </ul>

  <div id="main">
  </div>
</script>

<script id="loggedOutView" type="text/x-underscore-template">
  <p>Login here:</p>
  <form>
    <label>Username:</label>
    <input type="text" id="username" required>
    <label>Password:</label>
    <input type="password" id="password" required>
    <button id="login">Login</button>
  </form>
  <a href="#users/signup">Register</a>
</script>

<script id="loggedInView" type="text/x-underscore-template">
  logged in as: {{ ReviewMi.currentUser }} <button id="logout">Logout</button>
</script>

<!-- HOME VIEW -->

<script id="homeView" type="text/x-underscore-template">
  <h3>Latest Reviews</h3>

  <ul id="reviews">
  </ul>
</script>

<script id="reviewView" type="text/x-underscore-template">
  <div class="review">
    <h3 class="title">{{ media_type }} - {{ title }}</h3>
    <img src="{{ image }}" class="img-thumb"
    ><div class="details">
      <p>Rating: {{ rating }}</p>
      <p>Review: {{ description }}</p>
      <p>Reviewed by: {{ username }} </p>
      <p>Date: {{ created_at }} </p>
    </div>
  </div>
  <a href="#review/new/{{ content_id }}">Review this yourself</a>
</script>

<!-- MOVIE SEARCH VIEW -->

<script id="movieSearchView" type="text/x-underscore-template">
  <h2>Search for a movie to review</h2>
  <form id="search-frm">
    <label>Movie Title Search:</label>
    <input id="search-text" type="text">
    <button id="search-btn">Search!</button>
  </form>

  <!-- to display the results (a list of movies) or result (a single title) -->
  <div id="result">
  </div>
</script>

<!-- MOVIE SEARCH TERM VIEW -->

<script id="movieResultView" type="text/x-underscore-template">
  <p>{{ title }} - {{ year }} - type: {{ type }}</p>
</script>

<!-- MOVIE TITLE VIEW -->

<script id="movieTitleView" type="text/x-underscore-template">
  
  <div class="info">
    <h2>{{ title }}</h2>
    <img src="{{ image }}">
    <p>Year: {{ year }}</p>
    <p>Genre: {{ genre }}</p>
    <p>Director: {{ director }}</p>
    <p>Writer: {{ writer }}</p>
    <p>Plot: {{ plot }}</p>
  </div>

  <button>Create Review!</button>
</script>

<!-- NEW REVIEW VIEW -->

<script id="newReviewView" type="text/x-underscore-template">
  <h2>{{ title }}</h2>
  <img class="image" src="{{ image }}">
  <p>Write your review here...</p>
  <div>
    <div id="stars"></div>
    <form>
      <textarea id="review" cols="120" rows="10"></textarea><br>
      <button id="submit">Submit Review</button>
    </form>
  </div>
</script>

<!-- SHOW REVIEW VIEW -->

<script id="showReviewView" type="text/x-underscore-template">
  <h2>{{ title }}</h2>
  <img class="image" src="{{ image }}">
  <p><b>Rating:</b> <span id="stars"></span></p>
  <p><b>Review:</b> {{ description }}</p>
</script>

<!-- NEW USER VIEW -->

<script id="newUserView" type="text/x-underscore-template">

<h2>Register Here</h2>

<ul id="errors"></ul>

<form id="register">
  <label>Email:</label>
  <input type="email" id="reg-email" required>
  <label>Username:</label>
  <input type="text" id="reg-username" required>
  <label>Password:</label>
  <input type="password" id="reg-password" required>
  <label>Password Confirmation:</label>
  <input type="password" id="reg-password-conf" required>
  <button id="create-account">Create Account</button>
</form>
</script>